@import "../global.scss";


.dashbord {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    .dashbordMenuItem {
        width: 240px;
        padding: 30px 20px;
        background-color: $primaryColorDark;
        a {
            display: block;
            margin-bottom: 8px;
            @include paragraphFont {
                color: $deemWhite;
                text-decoration: none;
            }
            @extend %transition;
            &:hover {
                color: $paragraphColor
            }
            svg {
                margin-right: 6px;
                font-size: 18px;
            }
        }
        a.home {
            margin-bottom: 50px;
            display: flex;
            align-items: center;
        }
    }
    .dashbordContent {
        width:100%;
        padding: 30px 140px 30px 30px;
    }
}

// DashBordIndex
.totalCount {
    .countContainer {
        @extend %boxShadow;
        padding: 40px 30px;
        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid $primaryColor;
            margin: 0 auto;
            border-radius: 100px;
            @include h3 {
                color: $titleColor;
            }
        }
        h4 {
            @include preHeader {
                color: $paragraphColor;
                text-align: center;
                margin-top: 16px;
            }
        }
    }
}
#dark.totalCount {
   .countContainer {
    background-color: $themeDeepDark;
   }
   h3, h4 {
    color: $deemWhite;
   }
}

// userInfo
#dark.userTable {
    color: $deemWhite;
    tr {
        td {
            color: $deemWhite;
        }
    }
}

// NewsLetter Info

#dark.newsletterTable {
    color: $deemWhite;
    tr {
        td {
            color: $deemWhite;
        }
    }
}

// Contact Info
.contactCard {
    margin-bottom: 20px;
}
#dark.contactCard {
    background-color: $themeDeepDark;
}

#dark.dashbord {
    .dashbordMenuItem {
        background-color: $themeDeepDark;
        a {
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .dashbordContent {
        background-color: $themeLightDark;
        color: $deemWhite;
    }
}

