@import "./global.scss";

.contactUs {
    padding: 120px 0;
    h2 {
        @include h3 {
            color: $titleColor;
            text-transform: capitalize;
            text-align: center;
        }
    }
    p{
        @include paragraphFont {
            text-align: center;
            color: $paragraphColor;

        }
        max-width: 780px;
        margin: 0 auto 60px;
    }
    input {
        @include paragraphFont;
        color: $paragraphColor
    }
    label {
        color: $paragraphColor;
    }
    button {
        @extend %globalButton;
        margin-top: 28px;
    }
    @media only screen and (max-width: 992px) {
        padding: 60px 0;
        p {
            margin-bottom: 40px;
        }
    }
}

// Theming Style
#dark.contactUs {
    background-color: $themeLightDark;
    h2,p {
        color: $deemWhite
    }
    label {
        color: $deemWhite
    }
    input,select, textarea {
        background-color: $themeDeepDark;
        color: $deemWhite;
    }
    ::placeholder {
        color:transparentize($deemWhite, .5);
    }
}