@import "./global.scss";

.homePageCotainer {
    padding: 120px 0;
    .userCount {
        margin-bottom: 60px;
        .totalNumber {
            padding: 40px;
            border-radius: 10px;
            background-color: transparentize($secondaryColor, .5);
            .number {
                @include h4 {
                    color: $titleColor;
                }
                width: 100px;
                height: 100px;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                border-radius: 100px;
                border: 1px solid $primaryColorDark
            }
            p {
                @include buttonText {
                    color: $titleColor;
                    text-transform: capitalize;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
        @media only screen and (max-width: 992px) {
            margin: 0 30px 60px;
            .totalNumber {
                padding: 30px 20px; 
            }
        }
        @media only screen and (max-width: 767px) {
            margin: 0 10px 40px;
            .totalNumber {
                margin-bottom: 30px;
                .number {
                    width: 80px;
                    height: 80px;
                } 
            }
        }
    }
    .blogs {
        position: relative;
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            object-position: top;
            border-radius: 10px;
        }

        .title {
            padding: 20px 30px;
            position: absolute;
            top: 0;
            left: 0;

            h4 {
                @include h5 {
                    font-size: 18px;
                    text-transform: capitalize;
                }
                margin-bottom: 0;

                a {
                    text-decoration: none;
                    color: $titleColor;
                    @extend %transition;

                    &:hover {
                        color: transparentize($titleColor, .4);
                    }
                }
            }

            span {
                display: inline-block;
                padding: 0 4px;
                background-color: $primaryColorDark;
                border-radius: 4px;
                margin-top: -5px;
                @include preHeader {
                    color: $deemWhite;
                    font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 2px;
                }
            }
        }

        .author {
            margin-top: 20px;
            margin-bottom: 30px;

            img {
                width: 75px;
                height: 75px;
                border-radius: 100px;
            }

            h4 {
                @include buttonText;
                margin: 0;

                a {
                    text-decoration: none;
                    color: $primaryColor;
                    @extend %transition;

                    &:hover {
                        color: $titleColor;
                    }
                }
            }

            p {
                @include paragraphFont {
                    color: $paragraphColor;
                    font-size: 14px;
                }
            }
        }
    }
    .morePost {
        @extend %globalButton;
        display: block;
        width: 100%;
        margin: 40px auto 0;
        padding: 12px;
    }

    .recentPost {
        padding: 30px;
        border: 1px solid $secondaryColor;
        border-radius: 4px;
        margin-bottom: 30px;
        @extend %boxShadow;

        h4 {
            @include h5 {
                color: $titleColor;
                font-size: 20px;
            }

            margin-bottom: 14px;
        }

        .row {
            padding: 16px 0;
            border-bottom: 1px solid $secondaryColor;

            p {
                @include paragraphFont {
                    color: $paragraphColor;
                    font-size: 14px;
                }
                margin-bottom: 0;
            }

            h4 {
                @include buttonText {
                    color: $titleColor;
                    font-size: 14px;
                    text-transform: capitalize;
                    
                }

                margin-bottom: 0;
                padding-right: 20px;
            }

            img {
                @include img(60px);
            }
        }

        .row:last-child {
            padding-bottom: 0;
            border: none;
        }
    }

    .gallery {
        padding: 30px;
        background-color: $secondaryColor;
        border-radius: 4px;
        margin-bottom: 30px;
        @extend %boxShadow;

        h4 {
            @include h5 {
                color: transparentize($titleColor, .2);
                font-size: 20px;
            }

            margin-bottom: 30px;
        }

        img {
            @include img(auto)
        }
    }

    .categories {
        padding: 30px;
        border: 1px solid $secondaryColor;
        border-radius: 4px;
        margin-bottom: 30px;
        @extend %boxShadow;

        h4 {
            @include h5 {
                color: $titleColor;
                font-size: 20px;
            }

            margin-bottom: 30px;
        }

        .row {
            border-bottom: 1px solid $secondaryColor;
            margin: 0;
            > div {
                padding:6px 0;
                
            }

            h4 {
                @include buttonText {
                    color: $titleColor;
                    text-transform: capitalize;
                }

                margin-bottom: 0;
                padding: 6px;
            }

            p {
                @include menuText {
                    color: $titleColor;
                }

                margin-bottom: 0;
            }
        }

        .row:last-child {
            border-bottom: 0;
        }
    }

    .tags {
        padding: 30px;
        border: 1px solid $secondaryColor;
        border-radius: 4px;
        margin-bottom: 30px;
        @extend %boxShadow;

        h4 {
            @include h5 {
                color: $titleColor;
                font-size: 20px;
            }

            margin-bottom: 30px;
        }
        a {
            @include menuText {
                color: $deemWhite;
                text-decoration: none;
            }
            display: inline-block;
            padding: 2px 6px;
            border-radius: 4px;
            margin: 2px 2px;
            background-color: $primaryColorDark;
        }
    }
    .newsletter {
        padding: 30px;
        background-color: $secondaryColor;
        border-radius: 4px;
        @extend %boxShadow;

        h4 {
            @include h5 {
                color: transparentize($titleColor, .2);
                font-size: 20px;
            }

            margin-bottom: 10px;
        }
        label {
            color: transparentize($paragraphColor, .2);
        }
        input {
            outline: none;
            border:none;
            color: $paragraphColor;
            @include paragraphFont;
        }
        .newsletterButton {
            @extend %globalButton;
            margin-top: 20px;
        }

    }
    @media only screen and (max-width: 992px) {
        padding: 60px 0;
        .blogs {
            img {
                height: 300px;
            }
        }
    }

}

// Theming CSS

#dark.homePageCotainer {
    background-color: $themeLightDark;
   h4,p {
    color: $deemWhite;
   }
   .userCount {
    .totalNumber {
        background: $themeDeepDark;
        .number {
            border-color: $deemWhite;
            color: $deemWhite;
        }
    }
   }
   .gallery, .newsletter {
    background-color: $themeDeepDark;
   }
   .newsletter {
    input {
        background-color: $themeLightDark;
        color: $deemWhite;
    }
    label {
        color: $deemWhite;
    }

   }
}