@import "../global.scss";

.mainFooter {
    padding: 120px 0;
    background-color: transparentize($secondaryColor,.7);
    .brandLogo {
        margin-bottom: 20px;
        a {
            @include subTitle {
                color: $titleColor;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
    .socialLink {
        a {
            @include menuText {
                text-transform: none;
            }
            display: inline-block;
            padding-right: 20px;
            svg {
                color: transparentize($titleColor, .5);
                @extend %transition;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
    .footertitle {
        margin-bottom: 20px;
        h4 {
            @include preHeader {
                color: $titleColor;
            }
        }
    }
    .quickLink,.contactinfo, .address {
        a{
            display: block;
            @include paragraphFont {
                color: transparentize($paragraphColor, .3);
                text-decoration: none;
                @extend %transition;
            };
            margin-bottom: 6px;
            &:hover {
                color: $primaryColor;
            }
        }
        p {
            @include paragraphFont {
                color: transparentize($paragraphColor, .3);
            }
            margin-top:20px;
        }
    }
    @media only screen and (max-width: 992px) {
        padding: 60px 0;
        .brandLogo,.socialLink {
            text-align: center;
        }
        .socialLink {
            margin-bottom: 40px;
        }
    }
    @media only screen and (max-width: 767px) {
        .brandLogo,.socialLink {
            text-align: left;
        }
        .socialLink,.quickLink {
            margin-bottom: 40px;
        }
        .address {
            max-width: 230px;
        }
    }
}

// Theming CSS

#dark.mainFooter {
    background-color: $themeDeepDark;
    h4, p, a {
        color: transparentize($deemWhite, .2);
        @extend %transition;
    }
    a {
        &:hover {
            color: $primaryColor;
        }
    }
    .socialLink {
        a {
            svg {
                fill: transparentize($deemWhite, .6);
                @extend %transition;
                &:hover {
                    fill: $primaryColor;
                }
                
            }
        }
    }
}